@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
:root {
    --c1: #121418;
    --c2: #282c34;
    --c3: #00c3ff;
    --c4: #16a085;
    --c5: #c3eae1;
    --c6: #218c74;
    --c7: #454e56;
    --c8: #000;
    --faint: #ffffff11;
    --theme-icon: url("../icons/sun.svg");
    --theme-icon-color: #f39c12;
}

.dark {
    --bg: var(--c1);
    --bg-dull: var(--c2);
    --text: var(--c3);
    --text-dull: var(--c4);
    --faint: #504b4b11;
    --theme-icon: url("../icons/sun.svg");
    --theme-icon-color: #f39c12;
}

.light {
    --bg: var(--c5);
    --bg-dull: var(--c6);
    --text: var(--c7);
    --text-dull: var(--c8);
    --faint: #00000011;
    --theme-icon: url("../icons/moon.svg");
    --theme-icon-color: var(--c7);
}

.App {
    background-color: var(--bg-dull);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.App-header {
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    padding: 0.5rem 2rem;
    color: var(--text);
    font-weight: 200;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.options {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

#themeToggle {
    background-color: var(--theme-icon-color);
    mask: var(--theme-icon) no-repeat center;
    width: 30px;
    transition: mask 500ms ease-in-out;
}

#themeToggle div {
    width: 30px;
    height: 30px;
}

.graphHolder {
    margin: 0;
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 3fr 3fr 3fr; */
    /* height: 90vh; */
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
}

.graphHolder>div {
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#g1 {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: var(--bg);
    color: var(--text);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    font-size: 4rem;
}

#counterText1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.5rem;
}

#counter1 {
    color: var(--text-dull);
    grid-column: 1;
    grid-row: 2/4;
}

#counterText2 {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5rem;
}

#counter2 {
    color: var(--text-dull);
    grid-column: 2;
    grid-row: 2/4;
}

#g2 {
    grid-column: 3 / 5;
    grid-row: 1/3;
}

#g3 {
    grid-column: 1 / 3;
    grid-row: 2;
}

#g4 {
    grid-column: 1 / 4;
    grid-row: 3/5;
}

#g5 {
    grid-column: 4 / 5;
    grid-row: 3/5;
    color: var(--text);
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

#g5 input {
    width: 70%;
}

#intervalText {
    color: var(--text-dull);
    font-size: 2rem;
}

.graph {
    background-color: var(--bg);
    border-radius: 0.7rem;
    padding: 1rem;
}

#refresh {
    transform: rotate(0)
}

#refresh:active {
    animation: rotate 200ms;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}