:root {
    --dark1: #282c34;
    --dark2: #2a3242;
    --dark3: #263655;
    --dark4: #1d3669;
    --dark5: #0b2f75;
    --light1: #b6ad90;
    --light2: #b6ad90;
    --light3: #b6ad90;
    --light4: #b6ad90;
    --light5: #b6ad90;
    --c1: #141427;
    --c2: #282c34;
    --c3: #00c3ff;
    --c4: #16a085;
    --c5: #333d29;
    --c6: #b6ad90;
    --c7: #582f0e;
    --c8: #454e56;
    --c9: #111925;
    --c10: #0c111a;
    --h1: #121418;
    --h2: #354f52;
    --faint: #ffffff11;
    --theme-icon: url("../icons/sun.svg");
    --theme-icon-color: #f39c12;
    --placeholder: 22, 160, 133;
    --dropdown: rgb(69, 97, 197);
    --refresh-invert: 48%;
    --refresh-hue-rotate: 171deg;
    --refersh-counter: lime;
    --f0: 1vw;
}

.dark {
    --header-bg: #18191a;
    --bg: #121418;
    --bg1: #131822;
    --bg2: var(--c10);
    --bg3: #121418;
    --bg4: #131822;
    --text: var(--c3);
    --text-dull: var(--c4);
    --header-text: var(--c3);
    --faint: #504b4b11;
    --theme-icon: url("../icons/sun.svg");
    --theme-icon-color: #d8d8d8;
    --theme-icon-hover: #f39c12;
    --placeholder: 22, 160, 133;
    --glass: 0, 0, 0;
    --dropdown: var(--bg-dull);
    --refresh-invert: 48%;
    --refresh-hue-rotate: 171deg;
    --refersh-counter: var(--c4);
    --bg2a: #111724ea;
    --menu-bg: #131822;
    --loader1: #00c3ff;
    --loader2: #00c3ff44;
    --c0: white;
}

.light {
    /* --header-bg: #292d3e; */
    --header-bg: #8676ff;
    /* --bg: #292d3e;
--bg1: #292d3e; */
    --bg: #8676ff;
    --bg1: #8676ff;
    /* --bg2: #eaedf0; */
    --bg2: #e1e4f0;
    --bg3: #ffffff;
    --bg4: #ffffff;
    --bg-sharp: var(--h2);
    --text: #8676ff;
    --text2: #76838f;
    --text-dull: var(--c4);
    --header-text: #ffffff;
    --faint: #00000011;
    --theme-icon: url("../icons/moon.svg");
    --theme-icon-color: #d8d8d8;
    --theme-icon-hover: #ffffff;
    --placeholder: 69, 78, 86;
    --glass: 255, 255, 255;
    --dropdown: rgb(69, 97, 197);
    --refresh-invert: 100%;
    --refresh-hue-rotate: 180deg;
    --refersh-counter: #00bb3b;
    --bg2a: #ffffffba;
    --menu-bg: #ffffff;
    --loader1: #8676ff;
    --loader2: #8676ff44;
    --c0: black;
}

.App {
    background-color: var(--bg2);
    /* background: linear-gradient(90deg, var(--bg2), var(--bg3)); */
    /* background-image: linear-gradient(90deg, var(--bg2), var(--bg3)), url('../bg4.jpeg');
background-blend-mode: hue;
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Exo', sans-serif;
    font-size: calc(var(--f0)*0.8);
    /* transition: background 500ms ease-in-out, color 1000ms ease-in-out; */
    color: var(--text);
    /* box-sizing: border-box; */
}

.App-header {
    /* position: fixed;
    width: 96vw; */
    /* background-color: var(--header-bg); */
    background: linear-gradient(90deg, var(--bg), var(--bg1));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(var(--f0)*1.7);
    padding: calc(var(--f0)*0.5) calc(var(--f0)*2);
    color: var(--header-text);
    font-weight: 400;
    /* transition: background 200ms ease-in-out, color 1000ms ease-in-out; */
}

.options {
    display: flex;
    width: calc(var(--f0)*6);
    align-items: center;
    justify-content: space-between;
}

#themeToggle {
    background-color: var(--theme-icon-color);
    mask: var(--theme-icon) no-repeat center;
    width: calc(var(--f0)*1.8);
    transition: mask 500ms ease-in-out;
}

#themeToggle:hover {
    background-color: var(--theme-icon-hover);
}

#themeToggle div {
    width: calc(var(--f0)*2.5);
    height: calc(var(--f0)*2.5);
}

#sec1Header {
    color: var(--text);
    font-size: calc(var(--f0)*1.4);
    padding: calc(var(--f0)*1);
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(var(--f0)*1);
}

.menu {
    font-size: calc(var(--f0)*1);
    margin-right: calc(var(--f0)*1);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.menuTitle {
    background-color: var(--menu-bg);
    border-radius: calc(var(--f0)*1);
    padding: calc(var(--f0)*0.2) calc(var(--f0)*0.7);
    margin-left: calc(var(--f0)*0.2);
}

.menuTitle:hover {
    background-color: var(--bg2);
    box-shadow: 0 0 calc(var(--f0)*0.2) var(--c0);
    cursor: pointer;
}

.menuItems {
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.menuItems div {
    display: inline;
    background-color: var(--menu-bg);
    border-radius: calc(var(--f0)*1);
    padding: calc(var(--f0)*0.2) calc(var(--f0)*0.7);
    margin-left: calc(var(--f0)*0.2);
}

.menuItems div:hover {
    background-color: var(--bg2);
    box-shadow: 0 0 calc(var(--f0)*0.2) var(--c0);
    cursor: pointer;
}

.menuItems div:active {
    background-color: #b4c3ff;
}

.sec1 {
    margin: calc(var(--f0)*1) calc(var(--f0)*2);
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: auto auto;
    grid-gap: var(--f0);
}

#s1g1 {
    grid-column: 1 / 2;
    grid-row: 1;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#s1g1 .counter {
    font-size: calc(var(--f0)*2);
}

#s1g1 #totalBar {
    width: 100%;
}

#activeTotalCounter {
    display: flex;
    justify-content: space-between;
}

#barAndCounter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#totalBar {
    /* margin: 0 calc(var(--f0)*1); */
    height: 1vh;
    width: 80%;
    background-color: var(--loader2);
    border-radius: calc(var(--f0)*0.2);
}

#activeBar {
    height: inherit;
    width: 0;
    background-color: var(--loader1);
    border-radius: calc(var(--f0)*0.2);
    transition: 1000ms ease-in-out;
}

#activeTotalCounter {
    /* margin: 0 calc(var(--f0)*1); */
    font-size: calc(var(--f0)*1.2);
}

#activeTotalPercentage {
    display: flex;
    font-size: calc(var(--f0)*1);
}

#s1g2 {
    grid-column: 1 / 2;
    grid-row: 2;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

#s1g2 .title {
    padding: 0 calc(var(--f0)*1) calc(var(--f0)*1) 0;
}

#s1g2 #barAndCounter {
    width: 60%;
}

#s1g2 #totalBar {
    width: 50%;
    height: 0.6vh;
}

#s1g2c1 {
    display: flex;
    justify-content: space-between;
}

#s1g2c2 {
    display: flex;
    justify-content: space-between;
}

#sec2Header {
    color: var(--text);
    font-size: calc(var(--f0)*1.4);
    padding: 0 calc(var(--f0)*1) 0 calc(var(--f0)*1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(var(--f0)*1);
}

.sec2 {
    margin: 0 calc(var(--f0)*1);
    padding: calc(var(--f0)*1);
    height: max(44vh, 300px);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-gap: var(--f0);
}

#s2g1 {
    grid-column: 1;
    grid-row: 1;
}

#s2g2 {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

#s2g2 .title {
    font-size: calc(var(--f0)*1.4);
    border-radius: calc(var(--f0)*1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#s2g2 .title #button {
    font-size: calc(var(--f0)*1.2);
    border-radius: calc(var(--f0)*1);
    padding: calc(var(--f0)*0.1) calc(var(--f0)*0.5);
    background-color: var(--faint);
}

#s2g2 .title #button:hover {
    box-shadow: 0 0 calc(var(--f0)*0.2) var(--c0);
}

#s2g2 .avgData {
    height: 80%;
    display: grid;
    grid-template-columns: 1.3fr 1.4fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    font-size: calc(var(--f0)*1);
    align-items: center;
}

#s2g2 .avgData .title {
    grid-column: 1/4;
    grid-row: 1;
    font-size: calc(var(--f0)*1.2);
}

#s2g2 .avgData div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#x {
    grid-column: 1;
    grid-row: 2;
}

#xc {
    grid-column: 2;
    grid-row: 2;
}

#y {
    grid-column: 1;
    grid-row: 3;
}

#yc {
    grid-column: 2;
    grid-row: 3;
}

#z {
    grid-column: 1;
    grid-row: 4;
}

#zc {
    grid-column: 2;
    grid-row: 4;
}

#accCanvas {
    background-color: transparent;
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 2/5;
}

#sec3Header {
    color: var(--text);
    font-size: calc(var(--f0)*1.4);
    padding: 0 calc(var(--f0)*1) 0 calc(var(--f0)*1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(var(--f0)*1);
}

.sec3 {
    margin: 0 calc(var(--f0)*1);
    padding: calc(var(--f0)*1);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-gap: var(--f0);
    height: 100%;
    box-sizing: border-box;
}

#s3g1 {
    grid-column: 1;
    grid-row: 1;
    height: 38vh;
}

#s3g2 {
    grid-column: 2;
    grid-row: 1;
    height: 38vh;
}

.graphHolder {
    margin: 0;
    display: grid;
    padding: var(--f0);
    grid-gap: var(--f0);
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 2fr 1fr 1.5fr;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 0.1fr 2fr 1.8fr 1.1fr;
    height: 100%;
    /* background: linear-gradient(90deg, var(--bg2), var(--bg3)); */
}

.graph {
    /* position: relative; */
    /* background-color: var(--bg); */
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(90deg, var(--bg3), var(--bg4));
    border-radius: calc(var(--f0)*0.7);
    padding: calc(var(--f0)*1);
    color: var(--text);
}


/* 
.chartTitle {
position: absolute;
top: calc(var(--f0)*0);
left: 0;
width: 100%;
text-align: start;
padding: 0 calc(var(, --f0)*5);
color: var(--text);
font-size: calc(var(--f0)*1.4);
} */

.counterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.counterText {
    font-size: calc(var(--f0)*1);
}

.counter {
    font-size: calc(var(--f0)*2.4);
    color: var(--text-dull);
}

#g2 {
    grid-column: 2/ 4;
    grid-row: 1/3;
    /* padding: 0 calc(var(--f0)*1) 0 0; */
    /* transition: background 700ms ease-in-out, color 800ms ease-in-out; */
}

#g3 {
    grid-column: 1;
    grid-row: 1;
    /* transition: background 1000ms ease-in-out, color 800ms ease-in-out; */
}

#g4 {
    grid-column: 2;
    grid-row: 1;
    /* transition: background 1300ms ease-in-out, color 1000ms ease-in-out; */
}

#g5 {
    grid-column: 4 / 5;
    grid-row: 1/3;
    color: var(--text);
    text-align: center;
    font-size: calc(var(--f0)*1.4);
    display: flex;
    flex-direction: column;
    /* padding: calc(var(--f0)*1.2); */
    /* background-image: none; */
    /* background-color: transparent; */
    /* transition: background 1700ms ease-in-out, color 1200ms ease-in-out; */
}

#intervalInput {
    background: linear-gradient(to right, #16a085 0%, #16a085 100%, #fff 100%, #fff 100%);
    border: solid calc(var(--f0)*0.1) #16a085;
    border-radius: calc(var(--f0)*0.5);
    height: calc(var(--f0)*0.2);
    /* width: 90%; */
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

#intervalInput::-webkit-slider-thumb {
    box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
    border: 0 solid #000000;
    height: calc(var(--f0)*1);
    width: calc(var(--f0)*2);
    border-radius: calc(var(--f0)*0.5);
    background: #00a0d1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc(-var(--f0)*0.4);
}

#intervalText {
    /* color: var(--text-dull); */
    color: var(--refersh-counter);
    font-size: calc(var(--f0)*2.4);
}

#refresh {
    transform: rotate(0);
    height: calc(var(--f0)*2.2);
    filter: invert(var(--refresh-invert)) sepia(13%) saturate(3207%) hue-rotate(var(--refresh-hue-rotate)) brightness(95%) contrast(80%);
}

#refresh:hover {
    filter: invert(var(--refresh-invert)) sepia(13%) saturate(3207%) hue-rotate(var(--refresh-hue-rotate)) brightness(100%) contrast(100%)
}

#refresh:active {
    animation: rotate 200ms;
}

.computed {
    color: var(--c4);
    font-weight: 500;
}

.arrow {
    font-size: calc(var(--f0)*0.9);
}

.down {
    color: #ff006f;
}

.up {
    color: lime;
}


/* footer {
    text-align: center;
    font-size: 8px;
} */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}