@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
:root {
    --c1: #121418;
    --c2: #282c34;
    --c3: #00c3ff;
    --c4: #16a085;
    --c5: rgb(207, 216, 243);
    --c6: rgb(222 231 253);
    --c7: #000;
    --c8: #454e56;
    --h1: #121418;
    --h2: rgb(130 156 249);
    --faint: #ffffff11;
    --theme-icon: url("../icons/sun.svg");
    --theme-icon-color: #f39c12;
    --placeholder: 22, 160, 133;
    --alpha: 0.8;
    --glass: 0, 0, 0;
    --dropdown: rgb(69, 97, 197);
    --refresh-invert: 48%;
    --refresh-hue-rotate: 171deg;
    --refersh-counter: lime;
    --f1: 0.6rem;
    --f2: 1.2rem;
    --f3: 1.8rem;
    --f4: 2.4rem;
    --f5: 3.0rem;
    --f6: 3.6rem;
}

.dark {
    --bg: var(--c1);
    --bg-dull: var(--c2);
    --bg-sharp: var(--h1);
    --text: var(--c3);
    --text-dull: var(--c4);
    --header-text: var(--c3);
    --faint: #504b4b11;
    --theme-icon: url("../icons/sun.svg");
    --theme-icon-color: #f39c12;
    --placeholder: 22, 160, 133;
    --glass: 0, 0, 0;
    --dropdown: var(--bg-dull);
    --refresh-invert: 48%;
    --refresh-hue-rotate: 171deg;
    --refersh-counter: var(--c4);
}

.light {
    --bg: var(--c5);
    --bg-dull: var(--c6);
    --bg-sharp: var(--h2);
    --text: var(--c7);
    --text-dull: var(--c4);
    --header-text: var(--c6);
    --faint: #00000011;
    --theme-icon: url("../icons/moon.svg");
    --theme-icon-color: #d8d8d8;
    --placeholder: 69, 78, 86;
    --glass: 255, 255, 255;
    --dropdown: rgb(69, 97, 197);
    --refresh-invert: 90%;
    --refresh-hue-rotate: 100deg;
    --refersh-counter: #00bb3b;
}

.App {
    background-color: var(--bg-dull);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.App-header {
    background-color: var(--bg-sharp);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    padding: 0.5rem 2rem;
    color: var(--header-text);
    font-weight: 200;
    transition: background 200ms ease-in-out, color 1000ms ease-in-out;
}

.options {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

#themeToggle {
    background-color: var(--theme-icon-color);
    mask: var(--theme-icon) no-repeat center;
    width: 30px;
    transition: mask 500ms ease-in-out;
}

#themeToggle div {
    width: 30px;
    height: 30px;
}

.graphHolder {
    margin: 0;
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 0.5fr 2fr 2fr 1fr;
    height: 100%;
}

.graphHolder>div {
    /* transition: background 500ms ease-in-out, color 1000ms ease-in-out; */
}

#g1 {
    grid-column: 1 / 3;
    grid-row: 1;
    /* background-color: var(--bg); */
    color: var(--text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: background 300ms ease-in-out, color 600ms ease-in-out;
}

.counterDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.counterText {
    font-size: var(--f2);
}

.counter {
    font-size: var(--f4);
    color: var(--text-dull);
}

#g2 {
    grid-column: 3 / 5;
    grid-row: 1/3;
    transition: background 700ms ease-in-out, color 800ms ease-in-out;
}

#g3 {
    grid-column: 1 / 3;
    grid-row: 2;
    transition: background 1000ms ease-in-out, color 800ms ease-in-out;
}

#g4 {
    grid-column: 1 / 4;
    grid-row: 3/5;
    transition: background 1300ms ease-in-out, color 1000ms ease-in-out;
}

#g5 {
    grid-column: 4 / 5;
    grid-row: 3/5;
    color: var(--text);
    text-align: center;
    font-size: calc(var(--f2)*0.9);
    padding: 2rem;
    transition: background 1700ms ease-in-out, color 1200ms ease-in-out;
}

#g5 input {
    width: 70%;
}

#intervalText {
    /* color: var(--text-dull); */
    color: var(--refersh-counter);
    font-size: var(--f4);
}

.graph {
    background-color: var(--bg);
    border-radius: 0.7rem;
    padding: 1rem;
}

#refresh {
    transform: rotate(0);
    height: 2.2rem;
    filter: invert(var(--refresh-invert)) sepia(13%) saturate(3207%) hue-rotate(var(--refresh-hue-rotate)) brightness(95%) contrast(80%);
}

#refresh:active {
    animation: rotate 200ms;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}