body {
    margin: 0;
    background: var(--bg-dull);
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text);
    text-decoration: none;
}

.navbar {
    background-color: transparent;
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    width: calc(60 * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    width: 30px;
    height: 30px;
    /* background-color: var(--bg-dull); */
    background-color: var(--dropdown);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button svg {
    fill: rgb(0 195 255);
    width: 20px;
    height: 20px;
}

.dropdown {
    position: absolute;
    top: 58px;
    width: 250px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: 1px solid var(--bg-dull);
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
    transition: height 500ms ease;
    font-size: 1.4rem;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 500ms;
    width: 100%;
}

.menu-item .icon-button {
    margin-right: 0.5rem;
}

#arrowIcon {
    color: var(--c3);
}

.menu-item .icon-button:hover {
    filter: none;
}

.menu-item:hover {
    background-color: var(--bg-dull);
}

.icon-right {
    margin-left: auto;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
}

.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all 500ms ease;
}