#SearchContainer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--text);
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 40% auto;
    grid-template-rows: 15% auto; */
    align-items: center;
    text-align: center;
    font-size: var(--f2);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#searchHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#searchTitle {
    font-size: var(--f3);
}

#searchForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#s1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#lim {
    width: 100%;
}

#searchFormInput {
    width: 10rem;
    border: none;
    font-size: var(--f2);
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--faint);
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-dull);
}

#searchFormInput::placeholder {
    color: rgba(var(--placeholder), 0.5);
}

#searchFormSubmit {
    display: none;
    margin: 0.5rem;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
}

.searchResult {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchChart {
    width: 100%;
    height: 100%;
    align-self: baseline;
}

.searchData {
    color: var(--text-dull);
    font-size: var(--f3);
    align-self: baseline;
    padding: 0 4rem;
}